[Unit]
Description=Rclone WebDAV Server
After=network.target

[Service]
Type=simple
User=jacky
ExecStart=/usr/bin/rclone serve webdav /data --addr :8080 --user jacky --pass dbVrWXB8Lb31T3HOaCh9hlmaa9NVWrItZQ
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
